/*universal */

*{
    text-decoration: none;
    color: seashell;
    background-color: black;
}
/* navigation */
.navbar{
    padding-right: 15px;
    padding-left: 15px;
    
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
  font-family: Helvetica;
  font-size: 50px;
  
}
li{
    list-style: none;
    display:inline-block;
    font-size: 22px;
    text-decoration: underline;
}
li a{
    margin-right: 25px;    
}

.mission{
   position: relative;
   text-align: center;
}

/*mission*/
#mission{
    height: 700px;
    padding-top: 70px;
    background-image: url(./images/img-mission-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    border-bottom: 1px solid seashell;
}
.content{
    text-align: center;
    margin: auto;
    width: 100%;
    margin-top: 240px;
}
.text2{
    margin: auto;
    background-color: black;
    color: seashell;
    width: 100%;
    text-align: center;
}
.tea-container{
    display: flex;
    max-width: 1250px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    margin: 20px 60px;

}
.tea img{
    width:300px;
    height: 200px;
    padding: 20px 10px;
}
.tea figcaption{
    display: flex;
    align-items: center;
    justify-content: center;
}